<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Insurance Experts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-datepicker.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/aos.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/rangeslider.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-2 bg-white" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">The_Insurance_Experts</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="home"><span>Home</span></a></li>
                <li class="active"><a href="about"><span>About</span></a></li>
                <li><a href="contact"><span>Contact</span></a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

  

    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(static/images/hero_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10">
            
            
            <div class="row justify-content-center">
              <div class="col-md-8 text-center">
                <h1 data-aos="fade-up">About Us</h1>
                <p class="mb-0" data-aos="fade-up" data-aos-delay="100">Let us quote you happy!</p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>  


    
    

    <div class="site-section "  data-aos="fade">
      <div class="container">
        <!-- <div class="row mb-5">
          <div class="col-md-8" >
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nobis officiis fugiat deserunt libero.</h3>
          </div>
        </div> -->
        <div class="row mb-3">
          <div class="col-md-4 mx-auto">
            <h3>Who We Are</h3>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-4 ml-auto">
            <p>
              We are a team of experts who are bringing a revolution in the insurance industry.
              We don't do anything new, but we do old things in a better way. 
              </p>
          </div>
          <div class="col-md-4">
            <p>
               Currently, we have three offices - Gurgaon, Delhi & Faridabad.  A dedicated team of 14 people working day & night tirelessly to protect the Businesses, Industries as well as individuals.
            </p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-4 text-left border-primary">
            <h2 class="font-weight-light text-primary">Our Team</h2>
            <p class="color-black-opacity-5">Some of the core members of our team</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <img src="static/images/person_1.jpeg" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Vinay Jain</h3>
            <p class="caption text-primary">Founder</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 mt-md-5">
            <img src="static/images/person_2.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Vaibhav Jain</h3>
            <p class="caption text-primary">Co-Founder</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <img src="static/images/person_3.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Neha Goel</h3>
            <p class="caption text-primary">Head of Marketing</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 mt-md-5">
            <img src="static/images/person_4.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Shivani Vats</h3>
            <p class="caption text-primary">Head of Operations</p>
          </div>
        </div>

      </div>
    </div>

    
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="static/images/img_1.png" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-5 ml-auto">
            <h2 class="text-primary mb-3">Why Us</h2>
            <p>
              The Insurance Experts has a vision of simplifying the whole process of insurance purchases & claim settlements in the most transparent & clear cut ways.<br>
              Most of us don't want to go through 16-17 pages of insurance documentation highlighting what is covered & what's not. We make sure that you get all that sorted in simple bullet points & you don't need to reach out to anyone at the time of claim.<br>
              Some of our specialties include:
            </p>
            <ul class="ul-check list-unstyled success">
              <li>24*7 claim support team.</li>
              <li>Under 12 hours of revert time.</li>
              <li>Tie up with over 15 insurance companies</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Frequently Ask Question</h2>
            <p class="color-black-opacity-5">Expert answers to FAQs</p>
          </div>
        </div>


        <div class="row justify-content-center">
          <div class="col-8">
            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false" aria-controls="collapse-1" class="accordion-item h5 d-block mb-0">Weather Act of God is covered in fire policy or not?</a>

              <div class="collapse" id="collapse-1">
                <div class="pt-2">
                  <p class="mb-0">Yes, Fire Policy covers everything today. All kinds of Acts of God are covered. No matter what.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-4" role="button" aria-expanded="false" aria-controls="collapse-4" class="accordion-item h5 d-block mb-0">Have the fire insurance rates been revised from 1st January 2020 by IRDA?</a>

              <div class="collapse" id="collapse-4">
                <div class="pt-2">
                  <p class="mb-0">Yes, the General Insurance Corporation of India along with Insurance Information Bureau of India, have release the circular for revision in prices. Because most of the risks were written by insuring companies at below par prices.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-2" role="button" aria-expanded="false" aria-controls="collapse-2" class="accordion-item h5 d-block mb-0">Is home Insurance expensive?</a>

              <div class="collapse" id="collapse-2">
                <div class="pt-2">
                  <p class="mb-0">That’s a funny thing, it’s as cheap as 500 Rs monthly for upto 1 cr of sum insured. The best part is , if taken for long period of 10 years, price reduces to 300 Rs per month.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-3" role="button" aria-expanded="false" aria-controls="collapse-3" class="accordion-item h5 d-block mb-0">Does the Insurance company matter?</a>

              <div class="collapse" id="collapse-3">
                <div class="pt-2">
                  <p class="mb-0">A deep dive into insurance companies would tell you that what truly matters is the insurance policy's terms and conditions. As long as you trust the prime insurer whom you are purchasing the policy from, The Insurance Experts is just a means to an end - a facilitator that is here to make the process of insurance hassle-free for you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="about">About Us</a></li>
                  <li><a href="contact">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="about">About Us</a></li>
                  <li><a href="contact">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
            <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="https://www.facebook.com/The-Insurance-Experts-190415641532934/" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="https://www.linkedin.com/in/vinay-jain-852b0b134/" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="static/js/jquery-ui.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/jquery.stellar.min.js"></script>
  <script src="static/js/jquery.countdown.min.js"></script>
  <script src="static/js/jquery.magnific-popup.min.js"></script>
  <script src="static/js/bootstrap-datepicker.min.js"></script>
  <script src="static/js/aos.js"></script>
  <script src="static/js/rangeslider.min.js"></script>
  
  <script src="static/js/main.js"></script>
    
  </body>
</html>